
obj/

.vs/

bin/

Design/Calculators/.~lock.TW2-BATTLESIM_V0.31.ods#

Design/Calculators/TW2-BATTLESIM_V0.31.ods

Builds/

CalculationTools.Data/CalculationToolsDB.db

CalculationTools.Data/SecretData.cs
