<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Trace" internalLogFile="I:\Projects\TribalWars2-CalculationTools">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="logFile" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.xml"
            archiveFileName="${basedir}/Logs/log.${shortdate}.{#####}.xml" archiveNumbering="Sequence"
            archiveEvery="Day" archiveAboveSize="10240000" keepFileOpen="false" maxArchiveFiles="1000"
            layout="${log4jxmlevent:includeNLogData=false}"></target>
    <target name="debugger" xsi:type="OutputDebugString" layout="${message}"/>
  </targets>
  <rules>

    <!-- Filter from these namespaces-->
    <logger name=" Websocket.Client.*" minlevel="Trace" final="true" />
    <logger name=" Websocket.Client.*" maxLevel="Info" final="true" />

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    -->
    <logger name="*" minlevel="Debug" writeTo="logFile" />
    <logger name="*" minlevel="Debug" writeTo="debugger" />

  </rules>
</nlog>